body {
  background-color: #3498db; }
  body .container {
    width: 26rem;
    margin: 4rem auto 0 auto; }
    body .container .row {
      background-color: #FFFFFF;
      padding: 0 3rem 0 3rem; }
      body .container .row h1 {
        font-size: 0.8rem; }
      body .container .row .col-sm:first-child {
        text-align: center;
        padding-top: 2rem; }
      body .container .row .col-sm.display {
        font-size: 2rem;
        width: 100%;
        text-align: right;
        letter-spacing: 3px;
        margin: 0 0 1rem 0; }
        body .container .row .col-sm.display .input {
          font-weight: 400; }
        body .container .row .col-sm.display .group_input {
          font-weight: 300;
          font-size: 0.5em;
          letter-spacing: 1px; }
      body .container .row .button {
        color: #000000;
        font-size: 1.75rem;
        font-weight: 300;
        text-align: center;
        min-width: 5rem;
        min-height: 5rem;
        line-height: 5rem;
        letter-spacing: 1px; }
      body .container .row .button:hover {
        background-color: #EEEEEE; }
      body .container .row .button.divide {
        color: #8e44ad; }
      body .container .row .button.times {
        color: #f39c12; }
      body .container .row .button.minus {
        color: #e74c3c; }
      body .container .row .button.plus {
        color: #2ecc71; }
      body .container .row .made {
        font-weight: 300;
        display: block;
        color: #000000;
        opacity: 0.8;
        padding-bottom: 2em; }
      body .container .row .heart, body .container .row .coffee {
        vertical-align: text-top; }
      body .container .row a {
        text-decoration: none;
        color: #000000; }
      body .container .row a:hover {
        color: #9E9E9E; }
    body .container .row:nth-child(3) .button {
      color: #9E9E9E; }
