
$prime: #222831
$secondary: #00ADB5
$white: #EEEEEE
$black: #393E46

body
  background-color: $white
  .container
    .row
      max-width: 22em
      border: 1px solid red
      .col-sm
      .display
        width: 100%
        height: 3em
        margin: none
      button
        color: $white
        font-size: 1.5em
        border-radius: 100px
        text-align: center
        width: 2.5em
        height: 2.5em
        margin: 0.5em
        background-color: $black
        border: 1px solid $black

